Welcome to the 4TU switch apps repo!!<br><br>

<a href="/repo.json">main repo json here</a><br><br>

Individual packages can be found at <code>/zips/[pkgname].zip</code>, using the `name` key from the repo.json as [pkgname].<br><br>

For more info, see <a href="https://gitlab.com/4TU/spinarak">Spinarak</a>
